@media only screen and (max-width: 768px) {
    /*Styling the navbar*/
    nav ul {
        background-color: rgb(2, 70, 99);
        position: fixed;
        top: 84%;
        left: 11%;
        height: 5%;
        width: 70%;
        display: flex;
        z-index: 999;
        align-items: center;
        border-radius: 20px;
    }
    nav li {
        display: inline-block;
        margin: 0 60px;
    }
    nav li a#index-about {
        position: absolute;
        font-size: 12px;
        top: 9%;
        left: 6%;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        border-radius: 50px;
        padding: 10px 15px;
        color: white;
    }
    nav li a#index-hobbies {
        position: absolute;
        font-size: 12px;
        top: 9%;
        left: 30%;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        border-radius: 50px;
        padding: 10px 15px;
        color: white;
    }
    nav li a#index-projects {
        position: absolute;
        font-size: 12px;
        top: 9%;
        left: 53%;
        text-align: center;
        font-weight: light;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        border-radius: 50px;
        padding: 10px 15px;
        color: white;
    }
    nav li a#index-contact {
        position: absolute;
        font-size: 12px;
        top: 9%;
        left: 73%;
        text-align: center;
        font-weight: light;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        text-decoration: none;
        border-radius: 50px;
        padding: 10px 15px;
    }
    nav a:hover {
        text-decoration: underline;
        color: black;
        border: 2px solid rgb(2, 70, 99);
        background-color: rgb(2, 70, 99);
        box-shadow: 0 0 50px 0 rgb(8, 217, 232);  
    }

    /*Beginning the Styling of the text container*/
    .paragraph-wrapper {
        position: fixed;
        top: 35%;
        left: 16%;
        width: 70%;
        height: 50%;
        border-radius: 20px;
        box-shadow: 0 0 50px 0 rgb(8 217 232);
    }
    /*beginning the styling of the personal image container*/
    .image-wrapper {
        position: fixed;
        width: 33%;
        height: 30%;
        top: 3%;
        left: 32%;
    }
    .input-text {
        position: absolute;
        top: 65%;
        left: 60%;
        transform: translate(-50%, -50%);
        width: 80%;
        text-align: center;
        z-index: 99;
    }
    .input-text h1 {
        position: absolute;
        left: 1%;
        color: rgb(8, 217, 232);
        font-size: 75%;
        font-family: monaco, monospace;
        font-weight: lighter;
        z-index: 99;
    }
    .student-text {
        position: absolute;
        overflow: hidden;
        text-decoration: none;
        font-size: 75%;
        font-weight: lighter;
        color: rgb(8, 217, 232);
        font-family: monaco, monospace;
        top: 74%;
        left: 30%;
        z-index: 100;
        display: inline-block;
        overflow: hidden;
        border-right: 0.1em solid black;
        white-space: nowrap;
        animation: typing 2s steps(30, end), blink-caret 1.25s step-end infinite;
        
    }
    .download-link {
        position: absolute;
        font-family: monaco, monospace;
        font-size: 13px;
        color: rgb(8, 217, 232);
        top: 96.5%;
        left: 60%;
        width: 150px;
        font-weight: lighter;
        height: 50px;
        text-decoration: none;
        z-index: 100;
    }
    /*altering the text within the images*/
    .paragraph-text p#firstParagraph {
        color: white;
        position: absolute;
        padding: 10px;
        font-size: 90%;
        top: -6%;
        font-weight: lighter;
        text-align: center;
        font-family: monaco, monospace;
    }
    .paragraph-text p#secondParagraph {
        top: 36%;
        font-size: 90%;
        position: absolute;
        padding: 10px;
        color: white;
        font-weight: lighter;
        text-align: center;
        font-family: monaco, monospace;  
    }
    .paragraph-text h1#divider-paragraph {
        font-size: 50px;
        position: absolute;
        color: rgb(8, 217, 232);
        font-weight: lighter;
        top: 22%;
        left: 43%;
    }
    .paragraph-text img#progImage {
        position: absolute;
        top: 105%;
        left: 15%;
        width: 16%;
        height: 18%;
    }
    .paragraph-text img#workoutImage {
        position: absolute;
        top: 101%;
        left: 65%;
        width: 19%;
        height: 25%;
    }
    .paragraph-text img#volunteerImage {
        position: absolute;
        top: 188%;
        left: 16%;
        width: 20%;
        height: 20%;
    }
    .paragraph-text img#readingImage {
        position: absolute;
        top: 189%;
        left: 65%;
        width: 20%;
        height: 15%;
    }
    .paragraph-text img#vuImage {
        position: absolute;
        width: 22%;
        height: 15%;
        top: 305%;
        left: 4%;
        border-radius: 20px;
    }
    .paragraph-text img#houseImage {
        position: absolute;
        width: 25%;
        height: 18%;
        top: 338%;
        left: 71%;
    }
    .paragraph-text img#paperIcon {
        position: absolute;
        width: 25%;
        height: 17%;
        top: 390%;
        left: 4%;
    }
    .paragraph-text img#imageEnd {
        position: absolute;
        color: black;
        width: 25%;
        height: 30%;
        top: 496%;
        left: 40%;
    }
    .progTextContainer {
        position: absolute;
        width: 50%;
        height: 100%;
        top: 125%;
        
    }
    .progTextContainer p {
        color: white;
        position: absolute;
        top: -6%;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        font-size: 90%;
        font-family: monaco, monospace;
        font-weight: lighter;
        border-right: 2px rgb(8, 217, 232) dotted;
    }
    .workTextContainer {
        position: absolute;
        width: 50%;
        height: 100%;
        top: 125%;
        left: 51%;
    }
    .workTextContainer p {
        color: white;
        font-size: 90%;
        position: absolute;
        top: -5%;
        padding-right: 10px;
        font-family: monaco, monospace;
        font-weight: lighter;
    }
    .volTextContainer {
        position: absolute;
        width: 50%;
        height: 100%;
        top: 202%;
    }
    .volTextContainer p {
        color: white;
        font-size: 90%;
        position: relative;
        top: 5%;
        font-family: monaco, monospace;
        font-weight: lighter;
        padding-left: 10px;
        padding-right: 10px;
        border-right: 2px rgb(8, 217, 232) dotted;
    }
    .readTextContainer {
        position: absolute;
        width: 50%;
        height: 100%;
        top: 202%;
        left: 50%;
    }
    .readTextContainer p {
        color: white;
        font-size: 90%;
        position: absolute;
        top: 5%;
        font-family: monaco, monospace;
        font-weight: lighter;
    }
    .researchText {
        position: absolute;
        top: 285%;
        width: 79%;
        padding: 10px;
        left: 20%;
    }
    .researchText p {
        color: white;
        font-size: 90%;
        text-align: center;
        padding-right: 10px;
        font-family: monaco, monospace;
        font-weight: lighter;
    }
    .houseText {
        position: absolute;
        top: 336%;
        left: -2%;
    }
    .houseText p {
        color: white;
        font-size: 90%;
        text-align: center;
        padding: 10px;
        font-family: monaco, monospace;
        font-weight: lighter;
        width: 70%;
    }
    .paperText {
        position: absolute;
        top: 372%;
        left: 25%;
    }
    .paperText p {
        color: white;
        font-size: 90%;
        text-align: center;
        padding: 10px;
        font-family: monaco, monospace;
        font-weight: lighter;
    }
    .about-me {
        position: absolute;
        width: 100%;
        height: 8%;
        color: rgb(8, 217, 232);
        font-family: monaco, monospace;
        font-size: 170%;
        font-weight: lighter;
        padding-left: 10px;
        background-image: linear-gradient(to right, black,rgba(0,0,0,0));
        background-clip: border-box;
        border-width: 100%;
        top: -5%;
    }
    .hobbies {
        position: absolute;
        width: 100%;
        height: 8%;
        padding-left: 10px;
        color: rgb(8, 217, 232);
        font-family: monaco, monospace;
        font-size: 170%;
        font-weight: lighter;
        background-image: linear-gradient(to right, black,rgba(0,0,0,0));
        background-clip: border-box;
        border-width: 100%;
        top: 91%;
    }
    .projects {
        position: absolute;
        width: 100%;
        height: 8%;
        padding-left: 10px;
        color: rgb(8, 217, 232);
        font-family: monaco, monospace;
        font-size: 170%;
        font-weight: lighter;
        background-image: linear-gradient(to right, black,rgba(0,0,0,0));
        background-clip: border-box;
        border-width: 100%;
        top: 268%;
    }
    .contact-me {
        position: absolute;
        width: 100%;
        padding-left: 10px;
        height: 8%;
        color: rgb(8, 217, 232);
        font-family: monaco, monospace;
        font-size: 170%;
        font-weight: lighter;
        background-image: linear-gradient(to right, black,rgba(0,0,0,0));
        background-clip: border-box;
        top: 421%;
    }
    .phone-number {
        position: absolute;
        width: 100%;
        height: 25px;
        font-size: 13px;
        font-family: monaco, monospace;
        font-weight: lighter;
        color: white;
        top: 433%;
        left: 5%;
    }
    .email {
        position: absolute;
        width: 100%;
        height: 25px;
        font-size: 13px;
        font-family: monaco, monospace;
        font-weight: lighter;
        color: white;
        top: 438%;
        left: 5%;
    }
    .downloadImage {
        position: absolute;
        width: 8%;
        height: 5%;
        top: 95%;
        left: 50%;
    }
}
